*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    list-style: none;
    text-decoration: none;
    color: #333;
}
h2{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
}
.basic-information{
    width: 100%;
    display: flex;
}
.basic-information img{
    margin: 15% 4%;
    width: 150px;
    border-radius: 50%;
}
.introduction{
    margin: 0 4%;
    font-size: 22px;
}

.content{
    margin: 3% 5%;
}
.content p{
    font-size: 30px;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}
.content span{
    font-size: 20px;
}
.wrap{
    width: 100%;
    margin: auto;
}
.wrap .item{
    margin: 10px;
    padding: 10px;
}
.wrap .item .title{
    font-size: 20px;
}
.wrap .item p{
    margin: 5% 0;
    font-size: 20px;
}
.wrap img{
    width: 100%;
    margin: 3% 0;
    border: 0.5px solid #ccc;
}
@media screen and (min-width: 768px) {
    h2{
        font-size: 40px;
    }
    .basic-information img{
        margin: 7% 10%;
    }
    .introduction{
        font-size: 28px;
        margin-right: 3%;
    }
    .content p{
        font-size: 35px;
    }
    .content span{
        font-size: 25px;
    }
    .wrap .item .title{
        font-size: 25px;
    }
    .wrap .illustrate{
        font-size: 20px;
    }
}
@media screen and (min-width:1024px) {
    .basic-information img{
        margin: 5% 15%;
    }
    .introduction{
        font-size: 30px;
    }
    .content{
        margin: 0% 5%;
    }
    .conten span{
        font-size: 25px;
    }
    .content p{
        margin: 1% 0;
    }
    .wrap .item .title{
        margin: 0 2%;
        font-size: 25px;text-align: center;
    }
    .item a{
        display: flex;
        margin-top: 2%;
    }
    .item .img{
        width: 50%;
        margin: 0 2%;
    }
    .wrap .illustrate{
        font-size: 30px;
        width: 50%;
        margin: auto;
    }   
}
@media screen and (min-width:1280px) {
    .introduction{
        font-size: 40px;
    }
    .content{
        font-size: 30px;
    }
    .content p{
        font-size: 35px;
    }
    .wrap .item .title{
        font-size: 35px;
    }
    .illustrate{
        width: 50%;
        margin: auto;
        font-size: 35px;
    }    
}